<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-time Schedule</title>
  </head>
  <body>     
    <form action="" method="post">
      <h1>One-time Scheduling</h1>
      <label for="receiver">Receiver: </label>
      <input type="email" name="receiver" id="receiver" placeholder="Email Address" required>
      <label for="date">Choose Date: </label>
      <input type="date" name="date" id="date" required/>    
      <button class="submitBtn" type="submit">Submit</button>
    </form>
  </body>
</html>